.list-add {
  width: 90%;
  /* margin-left: max(5vw, 25px); */
  align-items: center;
  /* margin-top: 50px; */
  margin: 0 auto;
  padding: 20px;
}

.list-add h1 {
  color: #009688;
  font-size: 36px;
  margin-bottom: 30px;
}

.list-table-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  overflow-x: auto;
}

.list-table {
  width: 100%;
  min-width: 600px;
}

.list-table-format {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  transition: all 0.3s ease;
  margin-bottom: 5px;
}

.list-table-format:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.list-table-format .title {
  background-color: #f9f9f9;
}

.list-table-format img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.cursor {
  color: red;
  font-size: large;
}

@media (max-width: 768px) {
  .list-table-format {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .list-add{
    margin-bottom: 40px;
  }
  .list-add h1 {
    font-size: 28px;
  }

  .list-table-container {
    padding: 20px 5px;
  }
  .list-table-format .title {
    display: none;
  }
}
